@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat&display=swap');

.font_montserrat {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.font_cinzel {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #FFFFFF;
}
.header__menu {

}
header {
  background-image: url(images/background/bgCat.png);
  height: 680px;
}
.logo {
  margin-left: 110px;
  margin-top: 64px;
  margin-right: 124px;
}
.menu_item {
  margin-right: 70px;
  margin-top: 61px;
  text-decoration: none;
}
.search {
  margin-left: 54px;
  margin-top: 61px;
}
.profile {
  margin-left: 60px;
  margin-top: 61px;
}
.item_select {
  width: 91px;
  background: inherit;
  border: none;
}
.header_main {
  margin-left: 110px;
  margin-top: 155px;
}
.header_main__title {
  margin: 0;
}
.header_main__description {
  line-height: 140%;
}
.header_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 64px;
  width: 302px;
  height: 75px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 50px;
}
.main {
  display: flex;
  padding: 182px 115px 0 110px;
  margin-bottom: 176px;
}
.main__bgicon_pos_top {
  position: absolute;
  left: 1045.99px;
  top: 797px;
  transform: rotate(8deg);
  z-index: 1;
}
.main__bgicon_pos_bottom {
  position: absolute;
  left: -80px;
  top: 2230.77px;
  transform: rotate(280deg);
  z-index: 1;
}
.main__menu {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 63px;
}
.main__menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 82px;
  border-bottom: 1px solid #530B65;
  margin-bottom: 50px;
}
.menu_item__section {
  font-size: 25px;
  line-height: 140%;
  background: linear-gradient(92.71deg, #721988 0%, #530B65 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
}
.menu_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 86px;
  width: 155px;
  height: 75px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  background: inherit;
  border: 1px solid #530B65;
}
.main__content {

}
.content__block {
  display: flex;
  flex-direction: row;
}
.block__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 115px;
  margin-bottom: 50px;
  z-index: 10;
}
.main__blog {
  margin-bottom: 176px;
}
.blog__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__container {
  display: flex;
  justify-content: center;
}
.block__item {
  width: 523px;
  margin: 0 33px 0 33px;
}
.blog_title {
  font-size: 40px;
  line-height: 120%;
  margin-left: 110px;
}
.blog_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 86px;
  width: 343px;
  height: 75px;
  background: linear-gradient(92.71deg, #721988 0%, #530B65 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 50px;
}
footer {
  background: #EEE2E6;
  display: flex;
  justify-content: space-between;
  padding: 100px 110px 65px 110px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 716px;
}
.footer__icons {
  display: flex;
  flex-direction: column;
}
.icons__soc {
  display: flex;
  justify-content: flex-end;
}
.soc_inst {
  margin-left: 120px;
}
.contacts_title_text {
  font-size: 40px;
  line-height: 120%;
}
.contacts_text {
  font-size: 25px;
  line-height: 140%;
}
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons__soc {
  margin-bottom: 114px;
}
/* ====== Дополнение ===== */

.text_decoration_line {
  text-decoration-line: underline;
}
.header_btn_text {
  color: #530B65;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
}
.plus {
  font-size: 50px;
}
.blog_btn_text {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  color: #F8F8F8;
}
.footer__menu_text {
  color: #721988;
  margin: 10px 0 10px 0;
  font-weight: 500;
}
.footer_select {
  margin-left: -5px;
}
