@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat&display=swap');

.font_montserrat {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.font_cinzel {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #FFFFFF;
}
.header__menu {

}
header {
  background-image: url(images/background/bgCat.png);
  height: 680px;
}
.logo {
  margin-left: 110px;
  margin-top: 64px;
  margin-right: 124px;
}
.menu_item {
  margin-right: 70px;
  margin-top: 61px;
  text-decoration: none;
}
.search {
  margin-left: 54px;
  margin-top: 61px;
}
.profile {
  margin-left: 60px;
  margin-top: 61px;
}
.item_select {
  width: 91px;
  background: inherit;
  border: none;
}
.header_main {
  margin-left: 110px;
  margin-top: 155px;
}
.header_main__title {
  margin: 0;
}
.header_main__description {
  line-height: 140%;
}
.header_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 64px;
  width: 302px;
  height: 75px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 50px;
}
.main {
  display: flex;
  padding: 182px 115px 0 110px;
  margin-bottom: 176px;
}
.main__bgicon_pos_top {
  position: absolute;
  left: 1045.99px;
  top: 797px;
  transform: rotate(8deg);
  z-index: 1;
}
.main__bgicon_pos_bottom {
  position: absolute;
  left: -80px;
  top: 2230.77px;
  transform: rotate(280deg);
  z-index: 1;
}
.main__menu {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 63px;
}
.main__menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 82px;
  border-bottom: 1px solid #530B65;
  margin-bottom: 50px;
}
.menu_item__section {
  font-size: 25px;
  line-height: 140%;
  background: linear-gradient(92.71deg, #721988 0%, #530B65 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
}
.menu_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 86px;
  width: 155px;
  height: 75px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  background: inherit;
  border: 1px solid #530B65;
}
.main__content {

}
.content__block {
  display: flex;
  flex-direction: row;
}
.block__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 115px;
  margin-bottom: 50px;
  z-index: 10;
}
.main__blog {
  margin-bottom: 176px;
}
.blog__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__container {
  display: flex;
  justify-content: center;
}
.block__item {
  width: 523px;
  margin: 0 33px 0 33px;
}
.blog_title {
  font-size: 40px;
  line-height: 120%;
  margin-left: 110px;
}
.blog_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 86px;
  width: 343px;
  height: 75px;
  background: linear-gradient(92.71deg, #721988 0%, #530B65 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 50px;
}
footer {
  background: #EEE2E6;
  display: flex;
  justify-content: space-between;
  padding: 100px 110px 65px 110px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 716px;
}
.footer__icons {
  display: flex;
  flex-direction: column;
}
.icons__soc {
  display: flex;
  justify-content: flex-end;
}
.soc_inst {
  margin-left: 120px;
}
.contacts_title_text {
  font-size: 40px;
  line-height: 120%;
}
.contacts_text {
  font-size: 25px;
  line-height: 140%;
}
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons__soc {
  margin-bottom: 114px;
}
/* ====== Дополнение ===== */

.text_decoration_line {
  text-decoration-line: underline;
}
.header_btn_text {
  color: #530B65;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
}
.plus {
  font-size: 50px;
}
.blog_btn_text {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  color: #F8F8F8;
}
.footer__menu_text {
  color: #721988;
  margin: 10px 0 10px 0;
  font-weight: 500;
}
.footer_select {
  margin-left: -5px;
}
/* ===== Adaptive ===== */


@media (max-width: 1858px) {
  .logo {
    margin-left: 90px;
    margin-top: 64px;
    margin-right: 90px ;
  }
  .menu_item {
    margin-right: 60px;
  }
  footer {
    width: 1660px;
  }
@media (max-width: 1735px) {
  .logo {
    margin-left: 70px;
    margin-top: 64px;
    margin-right: 70px ;
  }
  .menu_item {
    margin-right: 40px;
  }
  .main {
    display: flex;
    padding: 180px 90px 0 70px;
    margin-bottom: 176px;
  }
  .main__menu_item {
    width: 380px;
  }
  header {
    width: 1735px;
  }
  .blog__block {
    width: 1720px;
  }
  footer {
    width: 1560px;
  }
}
@media (max-width: 1675px) {
  footer {
    width: 1520px;
  }
  .photo {
    width: 460px;
    height: 290px;
  }
  .block__item {
    width: 490px;
  }
  .block__card {
    margin-left: 85px;
  }
}
@media (max-width: 1575px) {
  .block__item {
    width: 480px;
    margin: 0 15px 0 15px;
  }
  .block__card {
    margin-left: 55px;
  }
  .blog__block {
    width: 1640px;
  }
  .photo {
    width: 420px;
    height: 270px;
  }
  footer {
    width: 1400px;
  }
}
@media (max-width: 1525px) {
  .logo {
    margin-left: 45px;
    margin-right: 45px;
  }
  .menu_item {
    margin-right: 30px;
  }
  .block__item {
    width: 440px;
  }
  .blog__block {
    width: 1530px;
  }
  .block__card {
    margin-left: 45px;
  }
  .footer__contacts {
    width: 630px;
  }
  footer {
    padding: 100px 80px 65px 55px;
  }
}
@media (max-width: 1470px) {
  .main__menu {
    width: 350px;
    margin-right: 25px;
  }
  .main {
    padding: 180px 90px 0 30px;
  }
  footer {
    width: 1350px;
  }
}
@media (max-width: 1420px) {
  .menu_item {
    margin-right: 20px;
  }
  .search {
    margin-left: 20px;
  }
  .blog__block {
    width: 1400px;
  }
  .block__item {
    width: 420px;
  }
  .photo {
    width: 390px;
    height: 250px;
  }
}
@media (max-width: 1385px) {
  footer {
    width: 1250px;
  }
  .card_photo {
    width: 260px;
    height: 310px;
  }
}
@media (max-width: 1280px) {
  .logo {
    margin-left: 15px;
    margin-right: 15px;
  }
  .search {
    margin-left: 15px;
  }
  .profile {
    margin-left: 30px;
  }
  .main__menu_item {
    width: 280px;
  }
  .blog__block {
    width: 1270px;
  }
  .block__item {
    width: 370px;
  }
  .photo {
    width: 350px;
    height: 230px;
  }
  footer {
    width: 1150px;
  }
}
@media (max-width: 1180px) {
  .menu_item {
    margin-right: 15px;
  }
  .search {
    margin-left: 10px;
  }
  .profile {
    margin-left: 15px;
  }
  .main__menu {
    margin-right: 15px;
  }
  .card_photo {
    width: 240px;
    height: 290px;
  }
  .block__card {
    margin-left: 20px;
  }
  .main__bgicon_pos_bottom {
    top: 2100px;
  }
  .blog__block {
    width: 1190px;
  }
  .photo {
    width: 330px;
    height: 210px;
  }
  .footer__contacts {
    width: 500px;
  }
  .icons__soc {
    justify-content: flex-start;
  }
  footer {
    padding: 100px 80px 65px 20px;
  }
}
@media (max-width: 1024px) {
  .logo {
    margin-left: 5px;
    margin-right: 5px;
  }
  .menu_item {
    margin-right: 5px;
    width: 90px;
  }
  .main__menu_item {
    width: 200px;
  }
  .card_photo {
    width: 230px;
    height: 280px;
  }
  .block__item {
    width: 310px;
  }
  .blog__block {
    width: 1010px;
  }
  .footer__contacts {
    width: 290px;
    flex-direction: column;
  }
  footer {
    width: 920px;
  }
}
@media (max-width: 920px) {
  .main__menu_item {
    width: 160px;
  }
  .block__card {
    margin-left: 10px;
  }
  .card_photo {
    width: 190px;
    height: 230px;
  }
  .photo {
    width: 290px;
    height: 170px;
  }
  .blog__block {
    width: 870px;
  }
  .block__item {
    width: 270px;
  }
  .main__bgicon_pos_bottom {
    top: 1900px;
  }
}
@media (max-width: 768px) {

}
@media (max-width: 675px) {

}
@media (max-width: 623px) {

}

@media (max-width: 525px) {

}
@media (max-width: 525px) {

}
@media (max-width: 425px) {

}
@media (max-width: 390px) {

}
@media (max-width: 346px) {

}
@media (max-width: 280px) {

  }
}
