@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat&display=swap');

.font_montserrat {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.font_cinzel {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #FFFFFF;
}
.menu {

}
header {
  background-image: url(images/background/bgCat.png);
  height: 680px;
}
.logo {
  margin-left: 110px;
  margin-top: 64px;
  margin-right: 124px;
}
.menu_item {
  margin-right: 70px;
  margin-top: 61px;
  text-decoration: none;
}
.search {
  margin-left: 54px;
  margin-top: 61px;
}
.profile {
  margin-left: 60px;
  margin-top: 61px;
}
.item_select {
  width: 91px;
  background: inherit;
  border: none;
}
.header_main {
  margin-left: 110px;
  margin-top: 155px;
}
.header_main__title {
  margin: 0;
}
.header_main__description {
  line-height: 140%;
}
.header_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 64px;
  width: 302px;
  height: 75px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 50px;
}


/* ====== Дополнение ===== */

.text_decoration_line {
  text-decoration-line: underline;
}
.header_btn_text {
  color: #530B65;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
}
